body {
    background-color: #EAE7DC;
}

div {
    width: 100%;
}

table {
    table-layout: inherit;
    border-radius: 10px;
    width: 90%;
    border: 3px solid #E85A4F;
    margin: 5%;
}

th {
    border-radius: 10px;
    background-color: #E98074;
    font-size: 20px;
}

td {
    text-align: center;
    border-radius: 10px;
    background-color: #EAE7DC;
    border: solid white;
    font-size: 15px;
}

li {
    display: inline-block;
    margin: 10px
}

.button {
    align-self: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #E98074;
}

button:hover {
    background-color: #EAE7DC;
}

a {
    text-decoration: none;
    color: black;
}

header {
    border-radius: 10px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background: #d8c3a5;
    z-index: 10;
}

h1 {
    text-align: center;
    color: #E85A4F;
}

h4 {
    text-align: center;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

select {
    border: none;
}

#left-side {
    width: 90%;
    float: left;
}

#side-bar {
    top: 0;
    right: 0;
    position: fixed;
    float: right;
    width: 10%;
    height: 100%;
    background: #d8c3a5;
    z-index: 10;
}

#content-box {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;

}

#data-block {
    text-align: right;
    float: right;
    padding: auto;
    margin: auto;
    right: 0;

}

#message-block {
    background-color: #E98074;
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    border-color: white;
}

#answer-block {
    width: 90%;
    background-color: #E98074;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-color: white;
}
#answer-block-2{
    width: 90%;
    background-color: #e9d614;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-color: white;
}

#sorter {
    width: 20%;
    position: relative;
    float: right;
    right: 0;

}

#comment_button {
    display: inline-block;
    right: 10px;

}

.table-div {
    position: relative;
    z-index: 1;
    width: 90%;

}

.form-center {
    width: 100%;
    background-color: #E98074;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: white;
}

.input-center {
    display: flex;
    justify-content: center;

}

.text-input {
    width: 100%;
}

.comment-block {
    display: block;
    width: 70%;
    background-color: #e99654;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
}

img {
    float: left;
    height: 8%;
    width: 8%;
    border-radius: 50%;
}

#search-bar {
    display: flex;
    float: left;
    height: 20px;
}

.error{
    align-self: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #E98074;
}