body{
    background-color: whitesmoke;
}
div{
    width: 100%;
}
table {
    table-layout: inherit;
    border-radius: 10px;
    width: 90%;
    border: 3px solid powderblue;
    margin: 5%;
}
th{
    border-radius: 10px;
    background-color: powderblue;
    font-size: 20px;
}
td{
    border-radius: 10px;
    background-color: #E8E8E8;
    font-size: 15px;
}
li{
    display:inline-block;
    margin: 10px
}

button{
    align-self: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: powderblue;
}
button:hover{
    background-color: lightgray;
}

a{
    text-decoration: none;
    color: black;
}
header{
    border-radius: 10px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background: lightgray;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}

#left-side{
    width: 90%;
    float: left;
}
#side-bar{
    top: 0;
    right: 0;
    position: fixed;
    float: right;
    width: 10%;
    height: 100%;
    background: lightgray;
}
#content-box{
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
}
#data-block{
    text-align: right;
    float: right;
    padding: auto;
    margin: auto;
    right: 0;

}
#message-block{
    background-color: powderblue;
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    border-color: white;
}
#ansewr-block{
    width: 90%;
    background-color: powderblue;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-color: white;
}
.form-center{
    width: 90%;
    background-color: powderblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: white;
}
.input-center{
    display: flex;
    justify-content: center;

}
.text-input{
    width: 100%;
}

