body{
    background-color: whitesmoke;
}
table {
    table-layout: inherit;
    border-radius: 10px;
    width: 90%;
    border: 3px solid powderblue;
    margin: 5%;
}
th{
    border-radius: 10px;
    background-color: powderblue;
    font-size: 20px;
}
td{
    border-radius: 10px;
    background-color: #E8E8E8;
    font-size: 15px;
}
li{
    display:inline-block;
    margin: 10px
}

button{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: powderblue;
}
button:hover{
    background-color: lightgray;
}

a{
    text-decoration: none;
}
header{
    border-radius: 10px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background: lightgray;
}
#left-side{
    width: 90%;
    float: left;
}
#side-bar{
    top: 0;
    right: 0;
    position: fixed;
    float: right;
    width: 10%;
    height: 100%;
    background: lightgray;
}
#content-box{
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
}