{% extends "base.html" %}
{% block content %}

<div class="form-center">
    <form name="ask" action="/add-question" method="POST">

        <h4>Title:</h4>
        <input type="text" name="title" placeholder="Put title of your question here" required class="text-input">


        <h4>Message:</h4>
        <textarea name="message" required class="text-input"></textarea>
        <br>
        <label><input type="checkbox" value="1" name="box">python</label>
        <label><input type="checkbox" value="2" name="box">sql</label>
        <label><input type="checkbox" value="3" name="box">css</label>
        <br>
        <input type="submit" value="send" formmethod="post" class="button">
    </form>
</div>

{% endblock %}