{% extends "base.html" %}
{% block content %}
    <div class="form-center">

        <br>
        {% if answer_id %}
            <form name="comment" action="/question/{{ question_id }}/new-comment/{{ answer_id }}" method="POST">
        {% else %}
            <form name="comment" action="/question/{{ question_id }}/new-comment" method="POST">
        {% endif %}
        <h4>Enter your comment:</h4>
        <br>
        <textarea name="comment" minlength="10" class="text-input"></textarea>
        <br>
        <input type="submit" value="Submit" class="button">
        </form>
    </div>

{% endblock %}