{% extends "base.html" %}
{% block content %}
    <div class="form-center">
    <br>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="username" required class="text-input">
        <br>
        <input type="text" name="password" placeholder="password" required class="text-input">
        <br>
        <input type="submit" class="button">
    </form>

        <button class="button"><a href="/register" >Register new Account</a></button>
    </div>

{% endblock %}