{% extends "base.html" %}
{% block content %}
    <script>
    function wrongPassword(message, loginPage) {
        if (message) {
            if (confirm('dsnaonf newaa')){
                window.location.href = loginPage;
                            }
        }
        }


    </script>
    <div class="form-center">
    <br>
    <form action="{{ url_for('login') }}" method="post" onsubmit=wrongPassword({{ message }},'/login')>
        <input type="text" name="username" placeholder="username" required class="text-input">
        <br>
        <input type="text" name="password" placeholder="password" required class="text-input">
        <br>
        <input type="submit" class="button">

    </form>

        <button class="button"><a href="/register" >Register new Account</a></button>
    </div>

{% endblock %}