{% extends "base.html" %}
{% block content %}

    <div class="form-center">
        <form name="tag" action="/question/{{ question_id }}/new-tag" method="POST">

            <h4>TAGS:</h4>
            <br>
            {% for i in range(tag_names|length) %}

                <label><input type="checkbox" value={{ i + 1 }} name="box">{{ tag_names[i]['name'] }}</label>
            {% endfor %}
            <br>
            <input type="text" placeholder="your tag" name="new_tag_add" value="">
            <input type="submit" value="send" formmethod="post" class="button">
        </form>
    </div>

{% endblock %}