{% extends "base.html" %}
{% block content %}
       <div>
           <h4>{{ question_data['title']}}</h4><br>
       </div>
    <div id="message-block">
            Message: <br>{{ question_data['message']}}
    </div>

    <div id="data-block">
        <ul>
            <li>Time: <br>{{ time }}</li>
            <li>Views: {{ question_data['view_number']}}</li>
            <li>Votes: {{ question_data['vote_number']}}</li>
            <form  name='vote' action = '/question/{{ question_id }}' method = "POST">
                <p>
                    <input type = 'submit' name="send" value = '-'/>
                    <input type ='submit' name="send" value = '+'/>
                </p>
            </form>

        </ul>
    </div>
            <button type="button" ><a href="/question/{{question_id}}/new-answer">Add answer</a></button>
            <button type="button"><a href="/question/{{ question_id }}/delete">Delete question</a></button>
    <div>
    <h4>Answers:</h4>
        <ul>
        {% if answers ==[] %}
            <p>There are no answers yet.</p>
        {% else %}
            {% for dict in answers %}
                <div id="ansewr-block">
                <li>{{ dict['message'] }}
                    <br>
                    {{ dict['submission_time'] }}</li>
                <br>
                </div>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
{% endblock %}
