{% extends "base.html" %}
{% block content %}



    <img src='{{ image }}' alt="profile-pic">
    <div>
        <h4>{{ question_data['title'] }}</h4><br>
    </div>
    <div id="message-block">
        Message: <br>{{ question_data['message'] }}

    </div>

    <div id="data-block">
        <ul>
            <li>Time: <br>{{ time }}</li>
            <li>Views: {{ question_data['view_number'] }}</li>
            <li>Votes: {{ question_data['vote_number'] }}</li>
            <form name='vote' action='/question/{{ question_id }}' method="POST">
                <p>
                    <input type='submit' name="send" value='-' class="button"/>
                    <input type='submit' name="send" value='+' class="button"/>
                </p>
            </form>
            <p>
                {% for qtags in tags_questions %}
                    {% if qtags['question_id'] == question_data['id'] %}
                        {% for tags in tags_names %}
                            {% if tags['id'] == qtags['tag_id'] %}
                                <button type="button" class="button">
                                    {{ tags['name'] }}
                                    <a href="/question/{{ question_id }}/delete-tag/{{ tags['id'] }}">x</a>

                                </button>
                                {#                                    <button type="button" class="button"><a href="/question/{{ question_id }}/delete-tag/{{ tags['id'] }}" >x</a></button>#}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endfor %}
                <button type="button" class="button"><a href="/question/{{ question_id }}/new-tag">Add tag</a></button>
            </p>
        </ul>


    </div>
    <div>
        <button type="button" class="button"><a href="/question/{{ question_id }}/new-answer">Add answer</a></button>
        <button type="button" class="button"><a href="/question/{{ question_id }}/new-comment">Add comment</a></button>
        <button type="button" onclick=deleteData("question","/question/{{ question_id }}/delete") class="button">Delete
            Questions
        </button>
        <script>
            function deleteData(nameOfData, deletePage) {
                if (confirm("Are you sure you want to delete this " + nameOfData + "?")) {
                    window.location.href = deletePage;
                }
            }
        </script>
    </div>
    {% for dicts in comment_data %}
        {% if dicts['question_id'] == question_data['id'] %}
            <div class="comment-block">
                <br>
                <li>{{ dicts['message'] }}

                    <br>
                    {{ dicts['submission_time'] }}
                    <br>
                    <p>Edited count is: {{ dicts['edited_count'] }}</p>
                    <button type="button" class="button"><a
                            href="/question/{{ question_id }}/edit_comment/{{ dicts['id'] }}">Edit comment</a></button>
                    <button type="button"
                            onclick=deleteData("question","/question/{{ question_id }}/delete_comment/{{ dicts['id'] }}")
                            class="button">Delete Comment
                    </button>

            </div>
        {% endif %}
    {% endfor %}
    <div>
        <h4>Answers:</h4>
        <ul>
            {% if answers ==[] %}
                <p>There are no answers yet.</p>
            {% else %}
                {% for dict in answers %}
                    <div id="ansewr-block">
                        <li>{{ dict['message'] }}

                            <br>
                            {{ dict['submission_time'] }}
                            <br>
                            <p>Votes: {{ dict['vote_number'] }}</p>
                            <br>
                            <button type="button" class="button" id="comment_button"><a
                                    href="/question/{{ question_id }}/new-comment/{{ dict['id'] }}">Add comment</a>
                            </button>
                            <button type="button" class="button" id="edit_button"><a
                                    href="/question/{{ question_id }}/edit/{{ dict['id'] }}">Edit answer</a></button>
                            <button type="button"
                                    onclick=deleteData("question","/question/{{ question_id }}/delete_answer/{{ dict['id'] }}")
                                    class="button">Delete answer
                            </button>
                            <form name='vote-a' action='/question/{{ question_id }}/{{ dict['id'] }}' method="POST">
                                <input type='submit' name="send-a" value='-' class="button"/>
                                <input type='submit' name="send-a" value='+' class="button"/>
                            </form>

                    </div>
                    {% for data in comment_data %}
                        {% if data['answer_id'] == dict['id'] %}
                            <div class="comment-block">
                                <li>
                                    {{ data['message'] }}

                                    <br>
                                    {{ data['submission_time'] }}
                                    <br>
                                    <p>Edited count is: {{ data['edited_count'] }}</p>
                                    <button type="button" class="button"><a
                                            href="/question/{{ question_id }}/answer/{{ dict['id'] }}/edit_comment/{{ data['id'] }}">Edit
                                        comment</a></button>
                                    <button type="button"
                                            onclick=deleteData("question","/question/{{ question_id }}/delete_comment/{{ data['id'] }}")
                                            class="button">Delete Comment
                                    </button>

                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
