{% extends 'base.html'%}

{% block content %}
    <div class="form-center">
        <script>
        function validateForm(exists) {
          if (exists) {
            alert("This user name is already used!");
            return false;
            }
        }
        </script>
        <form action="{{ url_for('register') }}" method="post" name="register"
              onsubmit="validateForm({{ user_name_already_exists }})">
            <label><input type="text" name="username" placeholder="Login" required></label>
            <label><input type="text" name="password" placeholder="Password" required></label>
            <label><input type="submit" value="Register"></label>

        </form>
    </div>
{% endblock %}>