{% extends 'base.html' %}
{% block content %}


    <table>
    <tr>
    {% for question in user_questions[0].keys() %}
        {% if question in ['title', 'message', 'submission_time'] %}
            <th> {{ question }}</th>
        {% endif %}
        {% endfor %}
        </tr>
    {% for question in user_questions %}
    <tr>
        {% for header, value in question.items() %}
            {% if header in ['title', 'message', 'submission_time'] %}
                <th>{{ value}}</th>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

{% endblock %}